mixin header
    header
        nav.navbar.navbar-expand-lg.navbar-dark
            .container
                a.navbar-brand(href="#") fullbl00m.github.io
                button.navbar-toggler(type="button", data-bs-toggle="collapse", data-bs-target="#navbarSupportedContent", aria-controls="navbarSupportedContent", aria-expanded="false", aria-label="Toggle navigation")
                    span.navbar-toggler-icon
                #navbarSupportedContent.collapse.navbar-collapse
                    ul.navbar-nav.ms-auto
                        li.nav-item
                            a.nav-link(href="#") /Home
                        li.nav-item
                            a.nav-link(href="#") /Radio
                        li.nav-item
                            a.nav-link(href="#") /About
                        li.nav-item
                            a.nav-link(href="#") /Contact