doctype html
html(lang="en")
  include components/head/head
  +head
    // Include the WaveSurfer.js library
    script(src="https://cdn.jsdelivr.net/npm/wavesurfer.js@7/dist/wavesurfer.min.js")

  body
    include components/header/header
    +header

    main.container-fluid.p-0
      .container.pt-3
        .row
          .col-12
            h1.p-5.text-center
              | I CAN BUILD ANYTHING WITH ANYTHING.<br>
              | Number of pushes today: 13
        include components/simple-sampler/simple-sampler
        +simple-sampler({
            artist_name: "Bonobo", 
            album_name: "Black Sands", 
            file_name: "01 - Prelude.mp3", 
            audio_url: "./media/audio/Bonobo%20-%20Black%20Sands/01%20-%20Prelude.mp3"
        })

    include components/footer/footer
    +footer
    .loading-splash.d-none

    //- script(type="module").
    //-     import WaveSurfer from 'https://cdn.jsdelivr.net/npm/wavesurfer.js@7/dist/wavesurfer.esm.js'

        //- #stars
        //- #stars2
        //- #stars3