body {
  background-color: #222222 !important;
  color: #ffffff !important; }

.test {
  content: ''; }

.thenext {
  background-color: red; }

.whynot {
  color: blue; }

.heyhey {
  background-color: yellow; }

.another {
  color: white; }

.yoyo {
  color: blue; }
