doctype html
html(lang="en")
    include components/head
    +head
    body
        include components/header
        +header

        main.container
            .row
                .col-12
                    h1 Welcome to fullbl00m.github.io
                    p I am an abnormal human that has a lot of skills. I would like to share some of them with the world through this website. I am someone you should be interested in.
                    ul
                        li Full Stack Web Development 
                        li Software Engineering 
                        li Modular Sound Design
                        li Audio Engineering 
                        li Cybersecurity
                        li FPV Drones
                        li Obsessive Research

        include components/footer
        +footer
