doctype html
html(lang="en")
  include components/head/head
  +head
    // Include the WaveSurfer.js library
    script(src="https://cdn.jsdelivr.net/npm/wavesurfer.js@7/dist/wavesurfer.min.js")

  body
    include components/header/header
    +header

    main.container-fluid.p-0
      .container.pt-3
        .row
          .col-12
            h1.p-5.text-center
              | I CAN BUILD ANYTHING WITH ANYTHING.<br>
              | FUCKING TRY ME, ASSHOLE
        .row.pb-3
            .col-12 
                .card 
                    .card-body 
                        #waveform
                    .card-footer 
                        div(style="display: flex; justify-content: space-around; align-items: center;")
                            button.btn.btn-primary
                                | Play/pause

                            label
                                | Playback rate:&nbsp;
                                span#rate 2.00
                                | x

                            label
                                | 0.25x
                                input(type="range" min="0" max="4" step="1" value="2")

                                | 4x

                            label
                                input(type="checkbox" checked)
                                | Preserve pitch

        include components/four-two-one-cards/four-two-one-cards
        +four-two-one-cards

    include components/footer/footer
    +footer
    .loading-splash.d-none

    script(type="module").
        import WaveSurfer from 'https://cdn.jsdelivr.net/npm/wavesurfer.js@7/dist/wavesurfer.esm.js'
        // YouTube video ID
        const audioUrl = `./media/audio/Fingerbib.mp3`;

        // Create the WaveSurfer instance
        const wavesurfer = WaveSurfer.create({
            container: '#waveform',
            waveColor: '#ffffff',
            progressColor: '#000000',
            cursorColor: '#000000',
            cursorWidth: 1,
            barWidth: 1,
            barHeight: 1,
            barGap: 1,
            dragToSeek: true,
            url: audioUrl,
            backend: 'MediaElementWebAudio',
            audioRate: 1,
        });

        let preservePitch = true;
        const speeds = [0.25, 0.5, 1, 2, 4];

        // Toggle pitch preservation
        document.querySelector('input[type="checkbox"]').addEventListener('change', (e) => {
            preservePitch = e.target.checked;
            wavesurfer.setPlaybackRate(wavesurfer.getPlaybackRate(), preservePitch);
        })

        // Set the playback rate
        document.querySelector('input[type="range"]').addEventListener('input', (e) => {
            const speed = speeds[e.target.valueAsNumber];
            document.querySelector('#rate').textContent = speed.toFixed(2);
            wavesurfer.setPlaybackRate(speed, preservePitch);
            wavesurfer.play();
        })

        // Play/pause
        document.querySelector('button').addEventListener('click', () => {
            wavesurfer.playPause();
        })

        wavesurfer.on('ready', () => {
            wavesurfer.play();
        });

        wavesurfer.on('interaction', () => {
            wavesurfer.playPause();
        });

        //- #stars
        //- #stars2
        //- #stars3