doctype html
html(lang="en")
  include components/head/head
  +head
    // Include the WaveSurfer.js library
    script(src="https://cdn.jsdelivr.net/npm/wavesurfer.js@7/dist/wavesurfer.min.js")

  body
    include components/header/header
    +header

    main.container-fluid.p-0
      .container.pt-3
        .row
          .col-12
            h1.p-5.text-center
              | I CAN BUILD ANYTHING WITH ANYTHING.<br>
            h3.mb-3 Sampler Development Testing | <br>Artist: Bonobo <br>Album: Black Sands
        include components/simple-sampler/simple-sampler

        +simple-sampler({
            artist_name: "Bonobo",
            album_name: "Black Sands",
            file_name: "01 - Prelude.mp3",
            audio_url: "./media/audio/Bonobo%20-%20Black%20Sands/01%20-%20Prelude.mp3"
        })

        +simple-sampler({
            artist_name: "Bonobo",
            album_name: "Black Sands",
            file_name: "02 - Kiara.mp3",
            audio_url: "./media/audio/Bonobo%20-%20Black%20Sands/02%20-%20Kiara.mp3"
        })

        +simple-sampler({
            artist_name: "Bonobo",
            album_name: "Black Sands",
            file_name: "03 - Kong.mp3",
            audio_url: "./media/audio/Bonobo%20-%20Black%20Sands/03%20-%20Kong.mp3"
        })

        +simple-sampler({
            artist_name: "Bonobo",
            album_name: "Black Sands",
            file_name: "04 - Eyesdown ft Anderya Triana.mp3",
            audio_url: "./media/audio/Bonobo%20-%20Black%20Sands/04%20-%20Eyesdown%20ft%20Anderya%20Triana.mp3"
        })

        +simple-sampler({
            artist_name: "Bonobo",
            album_name: "Black Sands",
            file_name: "05 - El Toro.mp3",
            audio_url: "./media/audio/Bonobo%20-%20Black%20Sands/05%20-%20El%20Toro.mp3"
        })

        +simple-sampler({
            artist_name: "Bonobo",
            album_name: "Black Sands",
            file_name: "06 - We Could Forever.mp3",
            audio_url: "./media/audio/Bonobo%20-%20Black%20Sands/06%20-%20We%20Could%20Forever.mp3"
        })

        +simple-sampler({
            artist_name: "Bonobo",
            album_name: "Black Sands",
            file_name: "07 - 1009.mp3",
            audio_url: "./media/audio/Bonobo%20-%20Black%20Sands/07%20-%201009.mp3"
        })

        +simple-sampler({
            artist_name: "Bonobo",
            album_name: "Black Sands",
            file_name: "08 - All in forms.mp3",
            audio_url: "./media/audio/Bonobo%20-%20Black%20Sands/08%20-%20All%20in%20forms.mp3"
        })

        +simple-sampler({
            artist_name: "Bonobo",
            album_name: "Black Sands",
            file_name: "09 - The Keeper ft. Andreya Triana.mp3",
            audio_url: "./media/audio/Bonobo%20-%20Black%20Sands/09%20-%20The%20Keeper%20ft.%20Andreya%20Triana.mp3"
        })

        +simple-sampler({
            artist_name: "Bonobo",
            album_name: "Black Sands",
            file_name: "10 - Stay The Same ft. Andreya Triana.mp3",
            audio_url: "./media/audio/Bonobo%20-%20Black%20Sands/10%20-%20Stay%20The%20Same%20ft.%20Andreya%20Triana.mp3"
        })

        +simple-sampler({
            artist_name: "Bonobo",
            album_name: "Black Sands",
            file_name: "11 - Animals.mp3",
            audio_url: "./media/audio/Bonobo%20-%20Black%20Sands/11%20-%20Animals.mp3"
        })

        +simple-sampler({
            artist_name: "Bonobo",
            album_name: "Black Sands",
            file_name: "12 - Black Sands.mp3",
            audio_url: "./media/audio/Bonobo%20-%20Black%20Sands/12%20-%20Black%20Sands.mp3"
        })

    include components/footer/footer
    +footer
    .loading-splash.d-none

    //- script(type="module").
    //-     import WaveSurfer from 'https://cdn.jsdelivr.net/npm/wavesurfer.js@7/dist/wavesurfer.esm.js'

        //- #stars
        //- #stars2
        //- #stars3