mixin four-two-one-cards
    .row 
        .col-lg-3.col-sm-6.col-12.mb-3
            .card.p-3
                img(src="./media/images/debug-image.jpg" width="100%").pb-3
                h3(style="text-align: left;") One
                em This is a description of a skill or service that I plan to advertise soon.
        .col-lg-3.col-sm-6.col-12.mb-3
            .card.p-3
                img(src="./media/images/debug-image.jpg" width="100%").pb-3
                h3(style="text-align: left;") Two
                em This is a description of a skill or service that I plan to advertise soon.
        .col-lg-3.col-sm-6.col-12.mb-3
            .card.p-3
                img(src="./media/images/debug-image.jpg" width="100%").pb-3
                h3(style="text-align: left;") Three
                em This is a description of a skill or service that I plan to advertise soon.
        .col-lg-3.col-sm-6.col-12.mb-3
            .card.p-3
                img(src="./media/images/debug-image.jpg" width="100%").pb-3
                h3(style="text-align: left;") Four
                em This is a description of a skill or service that I plan to advertise soon.