mixin footer
    - const currentYear = new Date().getFullYear();
    footer.footer.mt-auto.py-3
        .container.text-center
            p.my-0 © #{currentYear} fullbl00m.github.io. All rights reserved.
